<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table>
    <thead>
    <tr>

        <th >Name</th>
        <th>Value</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ID</td>
        <td th:text="${id}"></td>

    </tr>
    <tr>
        <td>Name</td>
        <td th:text="${name}"></td>

    </tr>
    <tr>
        <td>Color</td>
        <td th:text="${color}" ></td>

    <tr>
        <td>Area</td>
        <td th:text="${area}"></td>
    </tr>
    <tr>
        <td>Length</td>
        <td th:text="${len}"></td>
    </tr>
    <tr>
        <td>Width</td>
        <td th:text="${wid}"></td>
    </tr>

    </tbody>


</table>
<a th:href="@{/rectangle/delete/{userId}(userId=${id})}">Delete This Rectangle</a>
</div>
</body>
</html>


