<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
Changes Made Successfully!
<body>
    <div class="container">
        <h1>Rectangles: </h1>
        <ul th:each="record : ${records}">
            <a th:href="@{/rectangle/show/{userId}(userId=${record.id})}" th:text="${record.name}"></a>
        </ul>
    </div>
    <a th:href="@{/rectangle}"> Add Rectangles</a>


</body>
</html>
